body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

#pageHeader {
    margin: 0;
    padding: 0;
    background-color: #7D26CD;
}

#pageHeader h1 {
    color: white;
    text-align: center;
    padding: 1em 0;
    margin: 0;
}

#mainContent {
    display: flex;
    flex-direction: row;
}

#mainContent > div {
    width: 50%;
}

#searchArea {
     
    padding: 2em;
}

#searchArea > div {
    float: left;
}

#searchArea input {
    height: 3em;
    border-radius: 0.5em;
    border-style: none;
    border: 1px solid black;
    width: 75%;
    margin-right: 1em;
    text-indent: 1em;
    font-size: 1em;
}

#searchArea button {
    padding: 1em;
    border-radius: 0.5em;
    font-family: 'Roboto';
    width: 20%;
    border-style: none;
    font-weight: bold;
    color: white;
    background-color: #7D26CD;
    font-size: 1em;
}

table {
    padding: 2em;
    width: 100%;
    text-align: left;
}

table td:nth-child(4) {
    color: #7D26CD;
    text-decoration: underline;
}

#favouritesSide {
    background-color: #ddd1e7;
    height: 86vh;
}
